<template>
  <div>
    <h1 class="text-2xl font-semibold mb-5">Five Day Forecast</h1>
    <div
      class="
        flex
        justify-start
        content-evenly
        sm:content-0 sm:justify-start
        md:justify-center
        lg:justify-center
        flex-wrap
        gap-2 gap-y-5
        sm:gap-4
        md:gap-1 md:gap-y-2
        lg:gap-5
        xl:gap-5
        text-center
      "
    >
      <div
        v-for="(day, index) in getFiveDayForecast"
        :key="index"
        class="forecast"
      >
        <h2>{{ index === 0 ? "Tomorrow" : unixToDate(day.dt) }}</h2>
        <div class="flex-grow">
          <WeatherImage classes="w-28" :img="day.weather[0].icon" />
        </div>
        <div class="flex justify-between">
          <span class="text-gray-100"
            >{{
              isCelcius
                ? convertFahrenheitToCelcius(day.temp.max)
                : Math.round(day.temp.max)
            }}<span>&deg;{{ defaultTemp }}</span></span
          >
          <span class="text-gray-400">
            {{
              isCelcius
                ? convertFahrenheitToCelcius(day.temp.min)
                : Math.round(day.temp.min)
            }}<span>&deg;{{ defaultTemp }} </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { computed, defineComponent } from "vue";
import { useStore } from "../store/store";
import WeatherImage from "./WeatherImage.vue";
import { unixToDate as utd } from "../../helpers/helpers";

export default defineComponent({
  name: "Forecast",
  components: {
    WeatherImage,
  },
  setup() {
    const store = useStore();
    const unixToDate = utd;
    return {
      defaultTemp: computed(() => store.state.defaultTemp),
      isCelcius: computed(() => store.state.isCelcius),
      getFiveDayForecast: computed(() => store.getters.getFiveDayForecast),
      convertFahrenheitToCelcius: computed(
        () => store.getters.convertFahrenheitToCelcius
      ),
      unixToDate,
    };
  },
});
</script>
<style lang="scss">
.forecast {
  @apply p-4 bg-blue-950 m-4 sm:m-0 md:m-0 flex flex-col;
}
</style>
