<template>
  <img v-if="img" :class="classes" :src="imagePath" alt="" />
</template>
<script lang="ts">
import { computed, defineComponent } from "vue";
import imgUrl from "../assets/img/Clear.png";
export default defineComponent({
  name: "WeatherImage",
  props: {
    img: {
      type: String,
      default: imgUrl,
    },
    classes: {
      type: String,
      default: "",
    },
  },
  setup(props) {
    return {
      imagePath: computed(() => {
        return "/img/" + props.img;
      }),
    };
  },
});
</script>
