<template>
  <SideBar />
  <Main />
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { currentLocation } from "../helpers/helpers";
import SideBar from "./components/SideBar.vue";
import Main from "./components/Main.vue";
import { useStore } from "./store/store";

export default defineComponent({
  name: "App",
  components: {
    SideBar,
    Main,
  },
  async created() {
    const store = useStore();
    try {
      const result = await currentLocation();
      const { coords } = result;
      const { latitude: lat, longitude: lng } = coords;
      store.dispatch("getCurrentForecast", { lat, lng });
    } catch (error) {}
  },
});
</script>

<style lang="scss">
#app {
  @apply min-h-screen flex flex-col sm:flex-col md:flex-row lg:flex-row xl:flex-row;
}
</style>
